body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.346);
    color: white;
}

#logo {
    margin: 0px auto 0;
    text-align: center;
    font-size:2em;
    text-shadow:black;
}

#body-container {
    border: 1px solid green;
    width: 70em;
    height: fit-content;
    min-height: 50em;
    margin: 0px auto 0;
    padding: 10px;
    background-color: black;
}

#header {
    display: grid;
    height: 4em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

#header button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid green;
    background-color: black;
    color: white;
}

#header button:hover {
    background-color: rgb(62, 62, 62);
}

#content-holder {
    margin-top: 10px;
    display: grid;
    width: fill;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    display: none;
}

#mainpage-link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


#mainpage-link-grid * {
    display: grid;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    width: 20em;
    height: 20em;
    border: 1px solid green;
  }

#mainpage_text {
    padding-top: 0px;
    align-items: auto;
    margin: 20px 20px 20px 20px;
    
    text-align: justify;

  }
  
  #background-video {
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    opacity: 100%;
    filter: sepia(200%) saturate(1000%) hue-rotate(50deg) blur(50px);
    scale: 110%;
  }

h1 {
    font-family: 'Arvo', serif;
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}